{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {% embed '@NadiaPaginator/templates/bootstrap4/pagination.html.twig' %}
            {% block tableContent %}
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>
                            {{ nadia_paginator_sort_link(pagination, 'title', 'movie.title', 'ASC') }}
                        </th>
                        <th>
                            {{ nadia_paginator_sort_link(pagination, 'description', 'movie.description', 'ASC') }}
                        </th>
                        <th>
                            {{ nadia_paginator_sort_link(pagination, 'releasedAt', 'movie.releasedAt', 'DESC') }}
                        </th>
                        <th>Director</th>
                        <th>Company</th>
                    </tr>
                    </thead>
                    <tbody>
                {% for movie in pagination %}
                    <tr>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.description }}</td>
                        <td>{{ movie.releasedAt|date('Y-m-d') }}</td>
                        <td>{{ movie.director.name }}</td>
                        <td>{{ movie.company }}</td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% endblock tableContent %}
        {% endembed %}
    </div>
{% endblock %}
