{% for form in filterForm %}
    <div {% for key, value in attributes %}{{ key }}="{{ value }}"{% endfor %}>
        <div>
            {% if form.vars.label is empty %}
                {{ form.vars.name|replace({':':'.'})|capitalize }}
            {% else %}
                {{ form.vars.label }}
            {% endif %}
        </div>
        {{ form_widget(form) }}
    </div>
{% endfor %}
