<a href="{{ url }}" {% for name, value in options.attributes|default({}) %} {{ name }}="{{ value }}" {% endfor %}>
    {{ title }}
    {% if showDirection %}{{ direction == 'ASC' ? '&#9650;' : '&#9660;' }}{% endif %}
</a>
